* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --white: #FFFFFF;
    --black: #232323;
    --background: #ECF1F9;
    --gray: #E9E9E9;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

body {
    background: var(--background);
    color: var(--white);
 }
 
 body, input, textarea, select, button {
     font-family: 'Roboto', sans-serif;
 }
 
 button {
     cursor: pointer;
 }
 
 h1, h2, h3, h4, h5, h6, strong {
    font-weight: 900;
}